header {
    text-align: center;
    font-size: 40px;
    padding: 20px 0;
    color: white;
    background-color: rgb(76, 177, 205);
}

h1 {
    text-align: center;
    font-size: 30px;
    margin: 10px auto 0 auto;
}

h2 {
    text-align: center;
}

li {
    list-style-type: none;
}

.border {
    border: 1px solid black;
}

.border-left {
    border-left: 1px solid black;
}

.lightblue {
    background-color: rgb(76, 177, 205);
}

#top-section {
    display: flex;
    flex-flow: row nowrap;
}

#shopping-list-container {
    width: 30%;
}

#shopping-list li {
    font-size: 16px;
    margin: 5px 0 5px -20px;
}

#sendList {
    display: flex;
    flex-flow: row wrap;
    gap: 5px 5px;
    justify-content: space-evenly;
    margin: 5px auto;
}

#slIngRemove {
    margin-right: 10%;
    margin-left: 3%;
}

.shopping-list-scroll {
    overflow: scroll;
}

.slIngRemove {
    margin-right: 30px;
}

#or-container {
    width: 70%;
}

#one-recipe {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#one-recipe p, #one-recipe li {
    font-size: 16px;
    text-align: left;
}

#one-recipe p {
    margin: 0 10px;
}

#one-recipe li {
    margin: 5px 5px;
}

.noInfo {
    height: 80px;
}

.hasInfo {
    height: 320px;
}

#orInstructions, #orIngredients {
    text-align: center;
}

#orIngredients {
    width: 38%;
    min-width: 320px;
}

#orInstructions {
    width: 50%;
    margin: 0;
}

#sendToList-button {
    display: block;
    margin: 20px auto;
    height: 40px;
}

/* CSS for the Saved Recipes */

#all-saved-recipes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: top;
    margin-bottom: 30px;
}

.one-saved-recipe {
    border: 1px solid black;
    width: 250px;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.one-saved-recipe h3 {
    font-size: 18px;
}

.one-saved-recipe img {
    width: 200px;
    height: 200px;
}

.ingFull {
    font-size: 12px;
    text-align: left;
}

.currentRecipe {
    border: 10px solid rgb(76, 177, 205);
    padding: 10px
}

/* CSS for the form */

#new-recipe-form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
}

.nrAllIngredients {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 60%;
}

.nrInput {
    width: 50%;
    height: 10px;
    margin: 10px auto;
    padding: 10 px;
    text-align: center;
} 

#nrInstructions {
    width: 55%;
    text-align: center;
}

#nrInstructions input {
    width: 70%;
    height: 20px;
} 

.btn {
    height: 5%;
    align-self: flex-end;
    margin: 10px;
}

.nrInstr {
    width: 70%;
    height: 250px;
}

#nrAllIngredients {
    text-align: center;
    width: 70%;
}

.label {
    margin: 10px;
    height: 400px;
}

[for="new-comment"] {
    top: -230px;
    position: relative;
}

[for="recipe-name"] {
    margin: 0px 48px 0px 10px;
}

.recipe-card-image {
    text-align: center;
    margin-left: 20px;
}

