header {
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
}

h2 {
    text-align: center;
}

.border {
    border: 1px solid black;
}

#top-section {
    display: flex;
    flex-flow: row nowrap;
}

#shopping-list {
    width: 35%;
}

#one-recipe {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 65%;
}

#orInstructions, #orIngredients {
    width: 50%;
    text-align: center;
}

/* CSS for the Saved Recipes */

#all-saved-recipes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: top;
}

.one-saved-recipe {
    border: 1px solid black;
    width: 350px;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.one-saved-recipe p {
    font-size: 12px;
}

.one-saved-recipe img {
    width: 200px;
    height: 200px;
}

.iLFull {
    font-size: 12px;
    text-align: left;
}

/* CSS for the form */

#new-recipe-form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.nrAllIngredients {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 40%;
}

.nrIngredient {
    width: 70%;
    margin: 10px auto;
} 

#nrInstructions {
    width: 60%;
}

#nrInstructions input {
    width: 70%;
    height: 200px;
    margin: 20px 100px;
} 

.btn {
    height: 10%;
    margin: 2px;
}